@page
@model PCPersonnel.Pages.PersonModel
@{
}
@if (this.Model.Person != null)
{
    <header>
        <h1>@this.Model.Person.FirstName @this.Model.Person.LastName</h1>
    </header>
    <main class="person-details">
        <section>
            <h2>Coordonnées</h2>
            <dl>
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.PhoneNumber))
                {
                    <dt>Numéro tel.</dt>
                    <dd>@this.Model.Person.PhoneNumber</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Email))
                {
                    <dt>Email</dt>
                    <dd>@this.Model.Person.Email</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.AVSNumber))
                {
                    <dt>Numéro AVS</dt>
                    <dd>@this.Model.Person.AVSNumber</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.ZipCode))
                {
                    <dt>Code postal</dt>
                    <dd>@this.Model.Person.ZipCode</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.City))
                {
                    <dt>Lieu</dt>
                    <dd>@this.Model.Person.City</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Canton))
                {
                    <dt>Canton</dt>
                    <dd>@this.Model.Person.Canton</dd>
                }
            </dl>
        </section>
        <section>
            <h2>Fonction</h2>
            <dl>
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Rank))
                {
                    <dt>Grade</dt>
                    <dd>@this.Model.Person.Rank</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Assignment))
                {
                    <dt>Affectation</dt>
                    <dd>@this.Model.Person.Assignment</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Function))
                {
                    <dt>Fonction</dt>
                    <dd>@this.Model.Person.Function</dd>
                }
                <dt>EM?</dt>
                @if (this.Model.Person.IsEM)
                {
                    <dd>Oui</dd>
                }
                else
                {
                    <dd>Non</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.InternalDomain))
                {
                    <dt>Domaine Interne</dt>
                    <dd>@this.Model.Person.InternalDomain</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Classification))
                {
                    <dt>Classification selon GE</dt>
                    <dd>@this.Model.Person.Classification</dd>
                }
            </dl>
        </section>
        <section>
            <h2>Mission</h2>
            <dl>
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.Mission))
                {
                    <dt>Mission</dt>
                    <dd>@this.Model.Person.Mission</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.PlaceOfConvocation))
                {
                    <dt>Lieu de convocation</dt>
                    <dd>@this.Model.Person.PlaceOfConvocation</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.MissionResponsible))
                {
                    <dt>Chef mission</dt>
                    <dd>@this.Model.Person.MissionResponsible</dd>
                }
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.SecondaryMissionResponsible))
                {
                    <dt>Suppléant chef mission</dt>
                    <dd>@this.Model.Person.SecondaryMissionResponsible</dd>
                }
            </dl>
        </section>
        <section>
            <h2>Autre</h2>
            <dl>
                @if (!String.IsNullOrWhiteSpace(this.Model.Person.KitchenInfo))
                {
                    <dt>Info cuisine</dt>
                    <dd>@this.Model.Person.KitchenInfo</dd>
                }
                @if (this.Model.Person.HasDriversLicense.HasValue)
                {
                    <dt>Permis de conduire</dt>
                    @if (this.Model.Person.HasDriversLicense.Value)
                    {
                        <dd>Oui</dd>
                    }
                    else
                    {
                        <dd>Non</dd>
                    }
                }
            </dl>
        </section>
    </main>
}